<nav class="navbar navbar-expand-lg  border-bottom  bg-dark  w-100" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand text-wrap" href="#">
        <img src="files/icon.png" alt="Logo"  class="d-inline-block align-text-top">
        QUEERiosity - jogo da memória queer 
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav"> 
          <a class="nav-link" href="index.html">Jogar</a> 
          <a class="nav-link" href="about.html">Sobre o jogo</a> 
        </div>
      </div>
    </div>
  </nav>